<!DOCTYPE html>

<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script>
		function receber(){
			var username = document.getElementById("word").value;
			var password = document.getElementById("log").value;
	
			console.log(password,username);
		}
		</script>
	</head>

	<body>
		<div id="main">
			<p id="shar">写輪眼</p>
			<form method="post">

				<fieldset id="register">	
				<p id="login">Login</p>
				<p>
				<input type="text" id="log" maxlength="20" size="10" placeholder="usuario" />	
				</p>
				<p id="pass">Password</p>	
				<p>
				<input type="password" id="word" maxlength="20" size="10" placeholder="senha" />
				</p>
				<p><button type="button" id="get" onclick="receber();">GO</button></p>
				</fieldset>
			</form>
		</div>
	</body>
</html>